bug-service/.settings/org.eclipse.core.resources.prefs
employee-service/.classpath
employee-service/.settings/org.eclipse.core.resources.prefs
employee-service/.settings/org.eclipse.jdt.core.prefs
employee-service/.settings/org.eclipse.m2e.core.prefs
employee-service/.project
bug-service/.settings/org.eclipse.core.resources.prefs
